body , html {
  height: 100%;

}

.section {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'BioRhyme', serif;
  color: #4a697a;
}

.intro-left {
  background: url(../images/background-2.jpg);
  position: absolute;
  left: 0;
  width: 33.3333333%;
  height: 166%;
  color: #54302b;
}




.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem;

}

.full-height {
  height: 100%;
}

.quote {
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: italic;
}


.resume a {
  text-underline-position: under;
  color: #4a697a;
  
}

.resume a:hover {
  
  color: black;
  
}
/* need to change size and maybe add media query */
.footer {
  background-color: #ffe1cc;
  font-size: 1rem;
  
}

.footer a {
  text-underline-position: under;
  color:#4a697a ;
}

.footer a:hover{
  color: black;
}

.panel-right {
  display: flex;
  justify-content: flex-end;
  background-color:#ffe1cc;
}

figcaption {
font-size: 1rem;

}

figcaption a {
  text-underline-position: under;
  color: #4a697a;
  font-size: .8rem;
}

figcaption a:hover{
  color: black;
}


#btn {
  color:#4a697a;
  border-color: #4a697a;
}
@media screen and (max-width:1181px) {
  .footer {
     font-size: .9rem;
  }
}

@media screen and (max-width:1181px) {
  .footer {
     font-size: .7rem;
  }
}

@media screen and (max-width:846px) {
  .footer {
     font-size: .63rem;
  }
}
@media screen and (max-width:768px) {
  .intro-left {
      height: 50vh;
      margin-bottom: 0;
      position: relative;
      width: 100%;
  }
  .footer {
      font-size: 1rem;
  }
}


